@media screen and (max-width: 1600px) {
    .cont-block {
        width: 340px;
    }

    .cont-block > p {
        font-size: 16px;
    }

    .ul-block {
        margin-left: 370px;
    }

    .bg-in-i {
        left: -150px;
    }

    .bg-in-I {
        margin-left: -250px;
    }

    .diet-block {
        margin-left: 50px;
    }

    .img {
        left: 1200px;
    }
}

@media screen and (max-width: 1450px) {

    .icon-d > a {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
    }
}

@media screen and (max-width: 1417px) {
    .bg-in-i {
        left: -250px;
    }

    .bg-in-I {
        margin-left: -350px;
    }

    .diet-block {
        margin-left: 200px;
    }

    .img {
        left: 1050px;
    }

    .bg-in-i-2 {
        width: 1200px;
    }

}