@media screen and (max-width: 1600px) {
    .cont-block {
        width: 340px;
    }

    .cont-block > p {
        font-size: 16px;
    }

    .bg-in-i {
        left: -150px;
    }

    .img {
        left: 1200px;
    }

    .bg-in-i-2 {
        width: 1300px;
    }
}

@media screen and (max-width: 1450px) {

    .icon-d > a {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
    }
}

@media screen and (max-width: 1417px) {
    .bg-in-i {
        left: -250px;
    }

    .bg-in-i-2 {
        width: 1080px;
    }

    .icon {
        padding-left: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .diet {
        margin-left: 90px;
    }
}