* {
    transition: 0.5s;
    font-family: Gotham Pro;
    line-height: normal;
    font-size: 19px;
}

html {
    scroll-behavior: smooth;
}

.bg-i {
    background: url('../images/Main.png');
    background-size: cover;
    height: 900px;
}

.gradient {
    background: linear-gradient(180deg, #000000 -82.45%, rgba(0, 0, 0, 0) 100%);

}

.bg-i-2 {
    background: url('../images/Background.png');
    background-size: cover;
    padding-bottom: 70px;
}

.bg-in-i {
    background: url('../images/Rectangle (2).png');
    background-size: cover;
    width: 1440px;
    height: 884px;
    position: absolute;
    top: 765px;
}

.bg-in-I {
    background: url('../images/Rectangle (2).png');
    background-size: auto auto;
    background-size: cover;
    float: left;
    width: 1545px;
    margin-left: -103px;
}

.ul-block {
    margin-left: 243px;
}

.ul-block > p {
    width: 510px;
    color: #292430;
}

.absolute {
    height: 760px;
}

.text-bg-i {
    margin-top: 163px;
}

.text-block-2 {
    margin: 135px 669px 0 70px;
    padding-top: 60px;
}

ul {
    color: #ffffff;
}

ul > li:nth-child(1) {
    list-style-type: none;
    margin-bottom: 20px;
}

.text-block-2 > h1 {
    font-family: Gotham Pro;
    line-height: normal;
    font-size: 65px;
}

.bg-in-i-2 {
    background: url('../images/Rectangle (1).png');
    background-size: cover;
    float: right;
    width: 1440px;
    height: 884px;
}

.gradient-i {
    background: linear-gradient(90deg, #000000 -88.22%, rgba(0, 0, 0, 0) 100%);
    width: 1382px;
    margin-left: 58px;
    margin-top: -76px;
    height: 767px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {

    color: white;
}

.navbar-header {
    margin-top: 63px;
    width: 955px;
    height: 91px;
}

.navbar-header {
    float: none;
}

.text-block {
    margin-top: 153px;
    margin-bottom: 35px;
}

.text-block > h1 {
    font-family: Gotham Pro;
    line-height: normal;
    font-size: 65px;
    width: 601px;
    margin-bottom: 30px;
}

.text-block > img:nth-child(2) {
    margin-right: 40px;
}

.vkusno {
    width: 250px;
    height: 50px;
    background-color: #ffffff;
    display: block;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    color: #000;
}

.vkusno:hover {
    text-decoration: none;
    color: #1e1e1e;
    box-shadow: 0px 6px 23px rgb(0, 0, 0, 255)
}

.vkusno > img {
    width: 22px;
    margin-right: 10px;
}

.navbar-header > a {
    color: #fff;
    text-decoration: none;
}

.navbar-header > a:hover {
    color: #c7c7c7;
}

.navbar-header > a:nth-child(2) {
    margin-left: 63px;
}

.header-link {
    margin-top: 35px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Gotham Pro;
    line-height: normal;
    font-size: 15px;
}

.slesh {
    width: 11px;
    height: 18px;
}

p, h1 {
    color: #fff;
}

.markov {
    float: right;
    margin-right: -105px;
}

.diet {
    height: 961px;
    padding-top: 100px;
}

.diet-block > h1 {
    font-size: 65px;
    color: #292430;
    margin-bottom: 20px;
}

.diet-block > p {
    font-size: 15px;

    color: #292430;
}

.diet-block {
    text-align: center;
}

.diet-block > a {
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto;
    background: #212121;
    padding-top: 13px;
    font-size: 25px;
    color: #FFFFFF;
}

.diet-block > p:nth-child(8) {
    margin-bottom: 40px;
}

.diet-block > a > img {
    margin-left: -3px;
    margin-right: 8px;
}

.img {
    position: relative;
    top: -670px;
    left: 1250px;
    width: 400px;
}

.cons {
    margin-bottom: 15px;
}

footer {
    background-color: #212121;
    height: 100%;
}

.text-footer > p {
    font-size: 17px;
    color: #FFFFFF;
    width: 320px;
    text-align: justify;
}

.mar > img {
    width: 100%;
}

footer > .container-fluid > .row {
    padding-top: 70px;
}

.text-footer > img {
    width: 300px;
    margin-left: 10px;
}

.icon-d > a {
    color: #fff;
    text-decoration: none;
}

.icon-d {
    margin-bottom: 60px;
}

.icon-d > a > img {
    margin-right: 10px;
}

.border {
    border: 2px solid #fff;
    text-align: center;
    width: 330px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
}

.border > hr {
    width: 185px;
    border-top: 2px solid #eee;
}

.cont {
    text-align: center;
}

.cont-block {
    width: 390px;
    margin: 0 auto;
}

.icon {
    padding-left: 100px;
}

footer > .container-fluid > .row > .col-md-3:nth-child(4) {
    margin-left: 30px;
}
